@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Forum&family=Kanit:wght@300&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(13, 63, 129); 
  height: 5rem; 
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); 
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
  transition: top 0.3s ease;
}

nav ul {
  padding-top: 1%;
  width: 100%;
  list-style: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  position: relative; /* Add this line */
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: transparent; /* Set initial color to transparent */
  transition: width 0.3s ease; /* Smooth transition */
}

nav a:hover::after {
  width: 100%; 
  background-color: #e91e62; 
}


nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 250px;
  background-color: rgb(20, 87, 175);
  backdrop-filter: blur(200px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .sidebar {
    width: 80%;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}


.home-container {
  background-image: url(assests/ecsc_logo_body.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative; 
  min-height: 100vh;
  min-width: 320px;
 
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
}
.home-title {
  margin-top: 20%;
  margin-left: 10%;
  font-size: 3rem;
}

.home-title span {
  color: rgb(20, 87, 175);
}

.home-quote {
  margin-left: 10%;
  text-align: start;
  margin-top: 2ch;
  font-size: 1.5rem;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
}

.aboutUs-container {
  background-color: rgb(20, 87, 175);
  display: flex;
  justify-content: center;
}


.aboutUs-title{
  height: 5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  background-color: rgb(13, 63, 129); 
}

.aboutUs-title svg::before{
  height: 10rem;
  padding-right: 2%;
}

.aboutUs-title h4{
  font-size: 2rem;
  padding-top: 1%;
  margin-left: 5%;
  height: 100%;
  color: beige;
}

.cards-container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto; 
}

.card {
  width: calc(33.33% - 1rem); 
  height: 400px;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  background-size: cover;
  backdrop-filter: blur(5px); 
  transition: filter 0.3s ease;
}

.card img {
  filter: blur(5px); 
}


.card h5 {
  color: white;
  font-size: 1.5rem;
  margin: 5%;
  font-family: "Kanit", sans-serif;
  text-decoration:wavy;
}

.card {
  position: relative;
}

.card::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  z-index: -1; 
  background-size: cover; 
}

.card1::before {
  background-image: url(assests/electronics.jpg);
}

.card2::before {
  background-image: url(assests/compsci.jpg);
}

.card3::before {
  background-image: url(assests/uok_adf5e690ac.jpg);
}

@media (max-width: 767px) {
  .card {
    width: calc(90% - 2rem);
  }
}

.card p{
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.216);
  color: beige;
  height: 100%;
  font-size: 1.2rem;
  font-family: "Zilla Slab", serif;
}

.vision-mission {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}



.mission,
.vision {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.mission h3,
.vision h3 {
  font-family: "Zilla Slab", serif;
  margin-top: 0;
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-decoration: underline solid#e91e6294;
}



.mission-discription,
.vision-discription {
  margin-top: 10px;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .mission,
  .vision {
    width: calc(100% - 20px);
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .mission,
  .vision {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px; /* Adjust the max-width as needed */
  }
}

.contactUs-containor{
  display: flex;
  flex-wrap: column;
  align-items: center;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(13, 63, 129);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



.copyright {
  width: 90%;
  position: relative; 
  margin: 40px auto 0; 
}

.copyright::before {
  content: ''; 
  position: absolute; 
  top: 50%; 
  left: 0;
  width: 100%; 
  border-top: 2px solid whitesmoke; 
  z-index: -1; 
}


.copyright p {
  font-size: 1.5rem;
  text-align: center; 
  margin: 0; 
  position: relative; 
  background-color: rgba(255, 255, 255, 0.338); 
  padding: 10px; 
  z-index: 1; 
  border-radius: 5px;
}
